<div class="card mb-3 {{ meeting.creator_id == user_id ? 'card-mine' : 'card-other' }}">
  <div class="card-body">
    <h3 class="h6 d-md-flex justify-content-between">
      {% if meeting.creator_onid == user_onid %}
        <span>
          {% if meeting.dates is iterable %}
            {% set previous = false %}
            {% for date in meeting.dates %}
              {% if previous != false %}
                |
              {% endif %}
              {% set previous = true %}

              {{date}}

            {% endfor %}
          {% else %}
            {{meeting.dates}}
          {% endif %}
        </span>
      {% else %}
        <span>
          {{meeting.start_time | date("D, F j, Y")}}
        </span>
        <span class="d-block d-md-inline mt-2 mt-md-0">
          {{meeting.start_time| date("g:ia")}}-{{meeting.end_time| date("g:ia")}} PST
        </span>
      {% endif %}
    </h3>
    <h4 class="h5 mb-2">
      {% if meeting.creator_id == user_id  %}
        <a href="{{site_url}}/meetings/{{meeting.id}}">
          {{meeting.name}}
        </a>
      {% else %}
        <a href="{{site_url}}/invite?key={{meeting.meeting_hash}}">
          {{meeting.name}}
        </a>
      {% endif %}
    </h4>
    <p class="mb-0">
      Location: {{meeting.location}}
    </p>
    {% if meeting.creator_onid != user_onid %}
      <p class="mb-0">
        Creator:
        <a href="mailto:{{meeting.creator_email}}">
          {{meeting.creator_name}}
        </a>
      </p>
    {% endif %}

    {# Attendees section #}

    <table class="table mt-2">
      <tr class="d-flex">
        <th class="col border-top-0" colspan="2">Attendees</th>
      </tr>

      {% for index, attendee in meeting.attendees %}
        <tr class="d-flex">
          <td class="col">
            {% if meeting.creator_onid == user_onid or (meeting.is_anon == 0 and meeting.attendees_count > 1) %}
              <a href="mailto:{{attendee.attendee_email}}">{% if attendee.attendee_email == user_email %}Me{% else %}{{attendee.attendee_name}}{% endif %}</a>
            {% else %}
              Attendee {{index + 1}}
            {% endif %}
          </td>
          {% if meeting.enable_upload == true %}
            <td class="col">
              {% if meeting.creator_onid == user_onid or (meeting.is_anon == 0 and meeting.attendees_count > 1) %}
                {% if attendee.attendee_file %}
                  <a href="{{uploads_url}}{{attendee.attendee_file}}" download="">{{attendee.attendee_file | basename}}</a>
                {% else %}
                  <i>No File Provided</i>
                {% endif %}
              {% else %}
                <i>Cannot see file because the meeting is anonymous</i>
              {% endif %}
            </td>
          {% endif %}
        </tr>
        <tr>
          {% if meeting.enable_message == true %}
            <td class="col border-top-0 pt-0">
              {% if meeting.creator_onid == user_onid or (meeting.is_anon == 0 and meeting.attendees_count > 1) %}
                {% if attendee.attendee_message %}
                  {# WARNING: Could potentially allow XSS vulnerability if not in a <td> element because of `|raw` #}
                  {{attendee.attendee_message|raw}}
                {% else %}
                  <i>No Message Provided</i>
                {% endif %}
              {% else %}
                <i>Cannot see message because the meeting is anonymous</i>
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
