{% extends 'layouts/logged_in.twig' %}

{% block page_content %}

<div class="align-items-center d-md-flex justify-content-between">
  <h1 class="h2 mb-4">
    {{title}}
  </h1>
  {{ include('shared/_search_form.twig') }}
</div>

{% if isadmin != 0 %}
  <nav>
    <div class="nav nav-tabs" role="tablist">
      <a class="nav-item nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">
        Users
      </a>
      <a class="nav-item nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="true">
        Events
      </a>
      <a class="nav-item nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">
        Info
      </a>
    </div>
  </nav>
  <div class="row">
    <div class="col">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
          <table class="table">
            <thead>
              <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col">ONID</th>
                <th class="col">Name</th>
                <th class="col">Email</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr class="d-flex">
                  <td class="col-1">
                    {{user['id']}}
                  </td>
                  <td class="col">
                    {{user['onid']}}
                  </td>
                  <td class="col">
                    {{user['first_name'] ~ " " ~ user['last_name']}}
                  </td>
                  <td class="col">
                    {{user['email']}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
          <table class="table">
            <thead>
              <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col">Name</th>
                <th class="col">Location</th>
                <th class="col">Modified</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              {% for event in events %}
                <tr class="d-flex">
                  <td class="col-1">
                    {{event['id']}}
                  </td>
                  <td class="col">
                    {{event['name']}}
                  </td>
                  <td class="col">
                    {{event['location']}}
                  </td>
                  <td class="col">
                    {{event['mod_date']}}
                  </td>
                  <td class="col-1">
                    <form method="post">
                      <input type="hidden" name="deleteEvent" value="1">
                      <input type="hidden" name="eventId" value="{{event['id']}}">
                      <button class="btn btn-danger">
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
          ToDo: Add orphaned data counters to this page
        </div>
      </div>
    </div>
  </div>
{% else %}
  <p>You do not have access to this page.</p>
{% endif %}

{% endblock %}
