{% extends 'layouts/logged_in.twig' %}

{% block page_content %}

<div class="align-items-center d-md-flex justify-content-between">
  <h1 class="h2 mb-4 col-6">
    {{title}}
  </h1>
</div>

{% if isadmin != 0 %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{site_url}}/adminusers">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{site_url}}/adminevents">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{site_url}}/admininfo">Info</a>
    </li>
  </ul>
  <div class="row">
    <div class="col">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
          <p style="font-weight: bold;">{{orphanCounters['uploads']}} orphaned upload folders. </p> 
          <p>{% for upload in orphanUploads %}  uploads/{{upload}}   {% endfor %}
          <p style="font-weight: bold;">{{orphanCounters['invites']}} orphaned invites. </p> 
          <p>{{sql['invites']}}</p>
          <p style="font-weight: bold;">{{orphanCounters['timeslots']}} orphaned timeslots. </p> 
          <p>{{sql['timeslots']}}</p>
          <p style="font-weight: bold;">{{orphanCounters['bookings']}} orphaned bookings. </p> 
          <p>{{sql['bookings']}}</p>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <p>You do not have access to this page.</p>
{% endif %}

{% endblock %}
